<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Hướng dẫn tra cứu hóa đơn điện tử</b><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <img src="./images/tim-kiem-hoa-don.jpg" alt="my picture" height="250" width="320" style="float: left; margin-right:10px">
            </div>
            <div class="col-sm-8">
                <ul class="ul-customer-label">
                    <li><b style="color:#339966">Bước 1:</b> Truy cập vào website tra cứu hóa đơn.</li>
                    <li><b style="color:#339966">Bước 2:</b> Nhập thông tin của hóa đơn cần tra cứu vào các ô tương ứng như:
                    Mã số thuế đơn vị bán, số bảo mật.</li>
                    <li><b style="color:#339966">Bước 3:</b> Nhấn vào nút Tra cứu để tra cứu hóa đơn với thông tin đã nhập.</p></li>
                    <li>
                        <b style="color:#339966">Bước 4:</b> Sau khi Hóa đơn hiển thị trên màn hình, bạn có thể tùy chọn:
                        <ul style="list-style:none">
                            <li>— Tải hóa đơn về lưu trữ bằng cách nhấn vào nút download file hóa đơn.</li>
                            <li>— In hóa đơn bằng cách nhấn vào nút in hóa đơn.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>