<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Thủ tục thông báo phát hành hóa đơn điện tử như thế nào?</b></h6>
    </div>

    <div class="panel-body">
        <p class="content-group">
            Sau đây, Chúng tôi sẽ hướng dẫn các bạn làm thủ tục thông báo phát hành hóa đơn điện tử với Cơ quan thuế (CQT) và có đủ điều
            kiện để sử dụng hóa đơn điện tử:
        <br>
            Theo khoản 2 điều 7 thông tư số 32/2011/TT-BTC quy định về Khởi tạo, phát hành hoá đơn điện tử
        </p>
        <div class="bs-callout bs-callout-info">
            <h4><b style="color:#339966">Điều 7. Khởi tạo, phát hành hoá đơn điện tử</b></h4>
            <p>
                <ol>
                    <li><b>Khởi tạo hóa đơn điện tử</b> <em>là hoạt động tạo định dạng cho hóa đơn, thiết lập
                                đầy đủ các thông tin của người bán, loại hóa đơn, ký hiệu hóa đơn, định dạng truyền – nhận
                                và lưu trữ hóa đơn trước khi bán hàng hoá, dịch vụ trên phương tiện điện tử của tổ chức kinh
                                doanh hoặc của các tổ chức cung cấp dịch vụ về hoá đơn điện tử và được lưu trữ trên phương
                                tiện điện tử của các bên theo quy định của pháp luật. Tổ chức khởi tạo hóa đơn điện tử trước
                                khi khởi tạo hoá đơn điện tử phải ra quyết định áp dụng hoá đơn điện tử gửi cho cơ quan thuế
                                quản lý trực tiếp bằng văn bản giấy hoặc bằng văn bản điện tử gửi thông qua cổng thông tin
                                điện tử của cơ quan thuế và chịu trách nhiệm về quyết định này (theo Mẫu số 1 Phụ lục ban
                                hành kèm theo Thông tư này). Quyết định áp dụng hoá đơn điện tử gồm các nội dung chủ yếu
                                sau: – Tên hệ thống thiết bị (tên các phương tiện điện tử), tên phần mềm ứng dụng dùng để
                                khởi tạo, lập hoá đơn điện tử. Phương tiện điện tử là phương tiện hoạt động dựa trên công
                                nghệ điện, điện tử, kỹ thuật số, từ tính, truyền dẫn không dây, quang học, điện từ hoặc công
                                nghệ tương tự. – Bộ phận kỹ thuật hoặc tên nhà cung ứng dịch vụ chịu trách nhiệm về mặt kỹ
                                thuật hoá đơn điện tử, phần mềm ứng dụng; – Quy trình khởi tạo, lập, luân chuyển và lưu trữ
                                dữ liệu hoá đơn điện tử trong nội bộ tổ chức. – Trách nhiệm của từng bộ phận trực thuộc liên
                                quan việc khởi tạo, lập, xử lý, luân chuyển và lưu trữ dữ liệu hoá đơn điện tử trong nội
                                bộ tổ chức bao gồm cả trách nhiệm của người được thực hiện chuyển đổi hóa đơn điện tử sang
                                hóa đơn giấy.</em></li>
                    <li><b>Phát hành hóa đơn điện tử</b>
                        <em>Trước khi sử dụng hóa đơn điện tử, tổ chức khởi
                                tạo hóa đơn điện tử phải lập Thông báo phát hành hóa đơn điện tử gửi cơ quan thuế quản lý
                                trực tiếp. Thông báo phát hành hóa đơn điện tử (theo Mẫu số 2 Phụ lục ban hành kèm theo Thông
                                tư này) gồm các nội dung: tên đơn vị phát hành hoá đơn điện tử, mã số thuế, địa chỉ, điện
                                thoại, các loại hoá đơn phát hành (tên loại hóa đơn, ký hiệu hóa đơn, ký hiệu mẫu số hóa
                                đơn, ngày bắt đầu sử dụng, số lượng hóa đơn thông báo phát hành (từ số… đến số…)), ngày lập
                                Thông báo phát hành; tên, chữ ký của người đại diện theo pháp luật và dấu của đơn vị (trường
                                hợp gửi Thông báo phát hành tới cơ quan thuế bằng giấy); hoặc chữ ký điện tử của tổ chức
                                phát hành (trường hợp gửi đến cơ quan thuế bằng đường điện tử thông qua cổng thông tin điện
                                tử của cơ quan thuế). Trường hợp có sự thay đổi địa chỉ kinh doanh, tổ chức khởi tạo hóa
                                đơn điện tử phải gửi thông báo phát hành hoá đơn cho cơ quan thuế nơi chuyển đến, trong đó
                                nêu rõ số hoá đơn đã phát hành chưa sử dụng, sẽ tiếp tục sử dụng. Trường hợp có sự thay đổi
                                về nội dung đã thông báo phát hành, tổ chức, khởi tạo hóa đơn điện tử thực hiện thông báo
                                phát hành mới theo hướng dẫn tại khoản này. Tổ chức khởi tạo hóa đơn điện tử phải ký số vào
                                hóa đơn điện tử mẫu và gửi hóa đơn điện tử mẫu (theo đúng định dạng gửi cho người mua) đến
                                cơ quan thuế theo đường điện tử. Thông báo phát hành hóa đơn điện tử (không bao gồm hóa đơn
                                điện tử mẫu) phải niêm yết tại trụ sở tổ chức khởi tạo hóa đơn điện tử hoặc đăng tải trên
                                trang thông tin điện tử của tổ chức khởi tạo hóa đơn điện tử trong thời gian sử dụng hóa
                                đơn điện tử.</em></li>
                    <li><b>Tổ chức kinh doanh</b> <em>có thể đồng thời tạo nhiều hình thức hóa đơn khác nhau
                                (hóa đơn tự in, hóa đơn đặt in, hóa đơn điện tử) và phải thực hiện thông báo phát hành từng
                                hình thức hóa đơn theo quy định. Trường hợp bán hàng hóa, cung cấp dịch vụ, đối với mỗi lần
                                bán hàng hóa, cung cấp dịch vụ, tổ chức kinh doanh chỉ sử dụng một (01) hình thức hóa đơn,
                                cụ thể: nếu tổ chức kinh doanh sử dụng hóa đơn tự in cho lần bán hàng hóa, cung cấp dịch
                                vụ thì không dùng hóa đơn đặt in, hóa đơn điện tử cho lần bán hàng hóa, cung cấp dịch vụ
                                đó; nếu sử dụng hóa đơn điện tử thì không sử dụng hóa đơn tự in, hóa đơn đặt in; nếu sử dụng
                                hóa đơn đặt in thì không sử dụng hóa đơn điện tử, hóa đơn tự in.</em></li>
                </ol>
            </p>
        </div>
        <p><b style="color:#339966">Như vậy, có thể tóm tắt Thủ tục thông báo phát hành hóa đơn điện tử như sau:</b></p>
        <p>
            Doanh nghiệp cần chuẩn bị bộ hồ sơ gồm:
            <ol>
                <li>Quyết định áp dụng Hóa đơn điện tử (1. Mẫu quyết định. Phụ lục).</li>
                <li>Hóa đơn mẫu dạng điện tử được ký số giống như gửi cho KH gửi qua đường điện tử. In bản thể hiện của Hóa đơn
                    điện tử (2. Mẫu hóa đơn. Phụ lục).</li>
                <li>Thông báo phát hành hóa đơn điện tử (3. Mẫu thông báo phát hành. Phụ lục).</li>
            </ol>
        </p>
        <p>Doanh nghiệp in bộ hồ sơ làm 02 bản và nộp cho cơ quan thuế quản lý trực tiếp.</p>
        <p>Hiện nay, quy trình tiếp nhận thông báo Phát hành hóa đơn điện tử vẫn còn chưa thống nhất giữa các cục thuế, chi
            cục thuế. Doanh nghiệp cần chủ động tìm hiểu quy trình tiếp nhận của CQT để đạt hiệu quả cao nhất.</p>
        <p>Cần tư vấn thêm về thủ tục và bộ tài liệu thông báo phát hành hóa đơn điện tử các bạn có thể Chat với Chúng tôi hoặc
            gọi HOTLINE <b>0942 39 88 55</b> để được tư vấn và hỗ trợ trực tiếp.</p>
    </div>
    <!-- <hr> -->
    <!-- <center><b>PHỤ LỤC</b></center>
    <ol>
        <li>Mẫu quyết định<br>
            <img src="./images/icons/logo-word.png"><a href="/Content/File/QDAD-Mau.doc">&ensp;Mẫu quyết định áp dụng hóa đơn điện tử</a>
        </li>
        <li>Mẫu hóa đơn<br>
            <img src="./images/icons/pdf.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu 1</a><br>
            <img src="./images/icons/pdf.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu 2</a><br>
            <img src="./images/icons/pdf.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu 3</a><br>
            <img src="./images/icons/pdf.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu 4</a><br>
            <img src="./images/icons/pdf.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu 5</a>
        </li>
        <li>Mẫu thông báo phát hành<br>
            <img src="./images/icons/logo-word.png"><a href="/Content/File/QDAD-Mau.doc"> &ensp;Mẫu quyết thông báo phát hành</a>
        </li>
    </ol><br> -->
</div>