<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Các câu hỏi thường gặp trong hóa đơn điện tử</b><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">
        <p class="color-red"><b>A: TÌM HIỂU CHUNG</b></p>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse1" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử là gì?</b></span>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> - Hóa đơn điện tử là tập hợp các thông điệp dữ liệu điện tử về bán hàng hóa,
                cung ứng dịch vụ, được khởi tạo, lập, gửi, nhận, lưu trữ và quản lý bằng phương tiện điện tử. Hóa đơn điện
                tử phải đáp ứng đầy đủ quy định tại Điều 6 Thông tư 32
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse2" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Ưu điểm của hóa đơn điện tử so với hóa đơn truyền thống ?</b></span>
            </div>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br>
                <ul>
                    <li>Giảm chi phí phí in ấn, gửi, bảo quản, lưu trữ, khai thác hóa đơn</li>
                    <li>Thuận tiện cho việc hạch toán kế toán, đối chiếu dữ liệu, quản trị kinh doanh của doanh nghiệp, kê khai,
                        nộp thuế</li>
                    <li>Tăng tính an toàn cho hóa đơn khi điện tử có thể sao chép thành nhiều bản, tránh được các rủi ro, thất
                        lạc, hư hỏng hóa đơn; nếu mất có thẻ yêu cầu cấp lại hóa đơn</li>
                    <li>Quá trình thanh toán nhanh hơn Góp phần bảo vệ môi trường</li>
                    <li>Góp phần bảo vệ môi trường</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse3" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử có mấy liên?</b></span>
            </div>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> Hóa đơn điện tử không có khái niệm liên.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse4" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn đã lập dưới dạng giấy nhưng được xử lý,truyền và lưu trữ bằng phương tiện điện tử có phải là hóa đơn điện tử không?</b></span>
            </div>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> KHÔNG, Vì Hóa đơn điện tử phải được lập ở dạng điện tử.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse5" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử có giới hạn số dòng của hàng hóa không ?</b></span>
            </div>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> KHÔNG. Hóa đơn điện tử không giới hạn số dòng, Nếu số dòng vượt quá 1 trang
                thì hóa đơn được hiểu là hóa đơn nhiều trang.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse6" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử được áp dụng cho các loại hóa đơn nào?</b></span>
            </div>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br>
                <ul>
                    <li>Hóa đơn xuất khẩu;</li>
                    <li>Hóa đơn giá trị gia tăng;</li>
                    <li>Hóa đơn bán hàng;</li>
                    <li>Hóa đơn khác gồm: tem, vé, thẻ, phiếu thu tiền bảo hiểm…;</li>
                    <li>Phiếu thu tiền cước vận chuyển hàng không, chứng từ thu cước phí vận tải quốc tế, chứng từ thu phí dịch
                        vụ ngân hàng…, hình thức và nội dung được lạp theo thông lệ quốc tế và các quy định của pháp luật
                        có liên quan</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse7" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử có được sử dụng dạng song ngữ (Tiếng Việt và Tiếng nước ngoài) được không?</b></span>
            </div>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> - HOÀN TOÀN ĐƯỢC <br> - Trường hợp cần ghi thêm chữ nước ngoài thì chữ nước
                ngoài được đặt bên phải trong ngoặc đơn ( ) hoặc đặt ngay dưới dòng tiếng Việt và có cỡ nhỏ hơn chứ tiếng
                Việt.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse8" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Làm thế nào để phân biệt được Hóa đơn điện tử (được in ra giấy) và Hóa đơn giấy?</b></span>
            </div>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> - Căn cứ vào ký hiệu Liên tại Mẫu số hóa đơn. VD: 01GTKT3/001 -> Hóa đơn giấy
                hoặc 01GTKT0/001 -> Hóa đơn điện tử <br> - Căn cứ vào Số Serial, Ký hiệu trên Hóa đơn: <br>
                <ul>
                    <li>Số serial của Hóa đơn điện tử: VC/15E</li>
                    <li>Số serial của Hóa đơn đặt in (giấy): VC/15P</li>
                </ul>
                - Hóa đơn điện tử chuyển đổi ra giấy phải có chữ ” HÓA ĐƠN CHUYỂN ĐỔI TỪ HÓA ĐƠN ĐIỆN TỬ” <br> - Chữ ký:
                <br>
                <ul>
                    <li>Hóa đơn điện tử: Chữ ký số tại mục Thủ trưởng đơn vị hoặc Giám đốc</li>
                    <li>Hóa đơn giấy: Ký tay</li>
                </ul>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse9" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Tính pháp lý hóa đơn điện tử?</b></span>
            </div>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Hóa đơn được thông báo phát hành với Cơ quan thuế: <br> 
                    - Có giá trị về mặt pháp lý như hóa đơn giấy <br>
                    - Được Bộ Tài Chính và Tổng cục thuế chấp nhận. <br> 
                    - Đáp ứng Đầy đủ luật giao dịch điện tử. <br>
                    Được quy định tại: <br>
                    - Nghị định số 51/2010/NĐCP-ngày 14/05/2010 <br>
                    - Thông tư số 39/2014/TT-BTC ngày 31/03/2014 <br>
                    - Thông tư 32/2011/TT- BTC ngày 14/03/2011 <br>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse10" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Việc viết tắt trên HĐĐT có gì khác biệt với các hình thức hóa đơn khác không?</b></span>
            </div>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                   Đối với Hóa đơn điện tử, tiêu thức “tên, địa chỉ, mã số thuế của người mua” không bị hạn chế số ký tự như đối với các loại hình thức hóa đơn khác và phù hợp với nội dung Điều 16, mục 2 khoản b Thông tư số 39/2014/TT-BTC ngày 31/3/2014 hướng dẫn thi hành nghị định số 51/2010/NĐ-CP ngày 14/05/2010.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse11" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử không yêu cầu in ra thì đối với quy định hàng hóa đi đường phải có hóa đơn đỏ thì phải làm thế nào?</b></span>
            </div>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                   - Người bán hàng hóa được chuyển đổi HĐĐT sang hóa đơn giấy để chứng minh nguồn gốc xuất xứ hàng hoá hữu hình trong quá trình lưu thông và chỉ được chuyển đổi một (01) lần.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse12" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Trường hợp doanh nghiệp được miễn chỉ tiêu đóng dấu trên hóa đơn giấy thì có được miễn chỉ tiêu đóng dấu trên HĐĐT chuyển đổi sang giấy hay không?</b></span>
            </div>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Theo quy định về In chuyển đổi thì DN Phải đóng dấu lên Hóa đơn chuyển đổi. đáp ứng các quy định nêu tại Khoản 2,3,4 Điều 12 thông tư 32/2011/TT-BTC <br>
                    - Tuy nhiên, nếu DN đã được phép miễn đóng dấu lên hóa đơn giấy, DN có thể làm công văn đến CQT quản lý trực tiếp để được miễn đóng dấu nếu CQT xem xét thấy phù hợp.
            </div>
        </div>

        <br><br>
        <p class="color-red"><b>B: HÓA ĐƠN ĐIỆN TỦ ĐỐI VỚI NGƯỜI BÁN HÀNG (ĐƠN VỊ XUẤT HÓA ĐƠN ĐIỆN TỬ)</b></p>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse13" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Hóa đơn điện tử mang lại lợi ích gì cho Doanh nghiệp (đơn vị phát hành)</b></span>
            </div>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Giảm chi phí in ấn, giấy, mực cho hóa đơn <br>
                    - Tiết kiệm chi phí gửi nhận hóa đơn cho khách hàng (EMS: 18.000đ/cái) <br>
                    - Tiết kiệm chi phí kho bãi lưu trữ, bảo quản như hóa đơn giấy (lưu 10 năm) <br>
                    - Giảm thiểu thất lạc, mất mác khi gửi nhận qua đường bưu điện, trung gian, tránh được tình trạng cháy, hỏng hóa đơn <br>
                    - Tiết kiệm thời gian cho doanh nghiệp, giảm thiểu các thủ tục hành chính, dễ dàng tìm kiếm, tra cứu online MỌI LÚC-MỌI NƠI <br>
                    - Doanh nghiệp có thể tạo lập và gửi hóa đơn cho khách hàng ngay sau khi ký số (tự động) thông qua nhiều hình thức như: <br>
                    <ul>
                        <li>Email: email Khách hàng đăng ký</li>
                        <li>Website: website của doanh nghiệp</li>
                        <li>Tin nhắn SMS</li>
                    </ul>
                    - Góp phần giảm thiểu thủ tục hành chính, hiện đại hóa công tác hạch toán kế toán, quản trị doanh nghiệp để phù hợp với xu thế kinh doanh trên thị trường quốc tế. <br>
                    - Góp phần bảo vệ môi trường. <br>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse14" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Doanh nghiệp (bên bán) có thể gửi hóa đơn cho Khách hàng của mình bằng những hình thức nào?</b></span>
            </div>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    Doanh nghiệp có thể gửi Hóa đơn điện tử cho khách hàng của mình: <br>
                    - Gửi trên Cổng tiếp nhận hóa đơn của bên phát hành (Web, Portal) <br>
                    - Gửi tới địa chỉ email của khách hàng <br>
                    - Với các trường hợp đặc biệt (khách hàng sử dụng nhiều dịch vụ, hàng tháng tiếp nhận nhiều hóa đơn): Gửi tự động đến Tool tiếp nhận hóa đơn hoặc Tích hợp qua Services
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse15" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Điều kiện để Doanh nghiệp được phát hành hóa đơn điện tử?</b></span>
            </div>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Là tổ chức kinh tế có đủ điều kiện và đang thực hiện giao dịch điện tử trong khai thuế với cơ quan thuế; hoặc là tổ chức kinh tế có sử dụng giao dịch điện tử trong hoạt động ngân hàng <br>
                    - Có chữ ký điện tử theo quy định của pháp luật; <br>
                    - Có địa điểm, các đường truyền tải thông tin, mạng thông tin, thiết bị truyền tin đáp ứng yêu cầu khai thác, kiểm soát, xử lý, sử dụng, bảo quản và lưu trữ hóa đơn điện tử; <br>
                    - Có đội ngũ người thực thi đủ trình độ, khả năng tương xứng với yêu cầu để thực hiện việc khởi tạo, lập, sử dụng hóa đơn điện tử theo quy định; <br>
                    <i>(Tham khảo thêm Mục 2, Điều 4. Nguyên tắc sử dụng, điều kiện của tổ chức khởi tạo hóa đơn điện tử của thông tư 32) </i>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse16" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Để được phát hành hóa đơn điện tử, Doanh nghiệp (bên bán) phải thực hiện những thủ tục gì?</b></span>
            </div>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Quyết định áp dụng hóa đơn điện tử <br>
                    - Thông báo phát hành hóa đơn <br>
                    - Hóa đơn điện tử mẫu <br>
                    — Nộp trực tiếp tại CCT quản lý, sau 05 ngày không có công văn phản hồi, người sử dụng được sử dụng hóa đơn như hóa đơn giấy thông thường. <br>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse17" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Để được phát hành hóa đơn điện tử, Doanh nghiệp (bên bán) phải thực hiện những thủ tục gì?</b></span>
            </div>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Với 1 đơn hàng cụ thể: Nếu sử dụng hóa đơn điện tử thì không sử dụng hóa đơn tự in, hóa đơn đặt in (ngược lại, nếu sử dụng hóa đơn đặt in thì không sử dụng hóa đơn điện tử, hóa đơn tự in). <br>
                    - Với các đơn hàng khác nhau: có thể sử dụng song song cả hóa đơn giấy và hóa đơn điện tử.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse18" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Doanh nghiệp (bên bán) phải lưu trữ hóa đơn điện tử không? Thời hạn lưu trữ là bao nhiêu lâu?</b></span>
            </div>
        </div>
        <div id="collapse18" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Có. Đơn vị phát hành HDDT (bên bán): Lưu trữ tập trung và cung cấp HDDT cho khách hàng bất cứ khi nào (bắt buộc) <br>
                    - Khách hàng (bên mua): Có thể lưu 1 bản (không bắt buộc) <br>
                    - Lưu trữ hóa đơn điện tử theo thời hạn quy định của Luật Kế toán (hiện hành là 10 năm)
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse19" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Nếu phát hiện sai sót hóa đơn thì đơn vị phát hành Hóa đơn phải xử lý thế nào?</b></span>
            </div>
        </div>
        <div id="collapse19" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Xử lý các nghiệp vụ trên phần mềm hóa đơn như đối với hóa đơn giấy thông thường <br>
                    - Ký số vào hóa đơn điều chỉnh, xóa bỏ, thay thế…… hoặc ký số vào biên bản thỏa thuận giữa 2 bên đi kèm với các nghiệp vụ hóa đơn. <br>
                    <i>Với khách hàng (bên mua) không phải là Doanh nghiệp nên không có chữ ký số. Nên việc yêu cầu phải đủ chữ ký điện tử của hai bên trong văn bản thỏa thuận rất khó thực hiện. Có thể sử dụng văn bản thỏa thuận là bản giấy, 2 bên cùng ký tươi. Đơn vị bán phải lưu trữ các văn bản này</i>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse20" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Khi nào Bên mua hàng cần hóa đơn giấy có giá trị pháp lý như hóa đơn điện tử? Bên bán cần phải làm gì?</b></span>
            </div>
        </div>
        <div id="collapse20" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                   - Bên bán thực hiện chuyển đổi Hóa đơn điện tử ra giấy 
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse21" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Trên hóa đơn giấy tại phần người mua hàng đã được phép ghi “BÁN HÀNG QUA ĐIỆN THOẠI”. Vậy HĐĐT áp dụng như HĐ giấy được không?</b></span>
            </div>
        </div>
        <div id="collapse21" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                   - Không (tự ý áp dụng). Gửi văn bản CQT xin phép. 
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse22" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Phát hành HĐĐT có bị giới hạn về số lượng phát hành hay không?</b></span>
            </div>
        </div>
        <div id="collapse22" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Hiện nay, chính sách đã bỏ giới hạn về số lượng hóa đơn thông báo phát hành trên hóa đơn giấy. <br>
                    - Vậy, HĐĐT cũng tương tự không giới hạn về số lượng phát hành. Tuy nhiên, theo quy định số hóa đơn là 7 số nên vẫn có tối đa là: 9.999.999 hóa đơn được phát hành cho một mẫu số, ký hiệu đó
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse22" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Nếu khách hàng của chúng tôi muốn tra cứu HĐĐT của các tháng trước, thời gian tối đa mà khách hàng tra cứu HĐĐT?</b></span>
            </div>
        </div>
        <div id="collapse22" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - HĐĐT được lưu trữ tối thiểu 10 năm theo quy định. Do đó: <br>
                    - Bên mua có thể tra cứu HĐĐT trên website bên bán vào bất kỳ lúc nào trong thời gian này. <br>
                    - Tùy thuộc vào bên bán để dữ liệu HĐĐT trên website là thời gian là bao lâu: 06 tháng, 12 tháng,
            </div>
        </div>

        <br><br>
        <p class="color-red"><b>C: HÓA ĐƠN ĐIỆN TỬ ĐỐI VỚI NGƯỜI MUA HÀNG</b></p>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse23" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Khách hàng có thể nhận hóa đơn điện tử bằng những hình thức nào?</b></span>
            </div>
        </div>
        <div id="collapse23" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Tiếp nhận trên Website được người bán hướng dẫn sử dụng. <br>
                    - Tiếp nhận qua email <br>
                    - Nhận hóa đơn chuyển đổi được người bán in trực tiếp từ phần mềm.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse24" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Khách hàng có thể xem hóa đơn điện tử bằng những hình thức nào?</b></span>
            </div>
        </div>
        <div id="collapse24" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Xem trên máy tính, laptop (máy tính xách tay) <br>
                    - Xem trên các thiết bị số như Máy tính bảng, Smart phone….. <br>
                    - Xem bản Hóa đơn chuyển đổi
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse25" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Với hóa đơn điện tử, khách hàng có thể thực hiện những tác vụ gì?</b></span>
            </div>
        </div>
        <div id="collapse25" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Xem Hóa đơn. <br>
                    - Tải hóa đơn để thực hiện lưu trữ.<br>
                    - In hóa đơn ra giấy để xem (không có giá trị pháp lý).
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse26" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Khi phát hiện ra thông tin hóa đơn điện tử bị sai sót (thông tin khách hàng, thông tin hàng hóa, giá…,) khách hàng phải làm gì?</b></span>
            </div>
        </div>
        <div id="collapse26" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Liên hệ với bên phát hành hóa đơn (bên bán hàng) để xử lý các sai sót của Hóa đơn <br>
                    - Nếu bên mua hàng cần sử dụng hóa đơn vào khai báo thuế, bên mua cần phải phối hợp với bên bán để lập biên bản xác nhận điều chỉnh/thay thế hóa đơn
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse27" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Bên mua hàng có phải thực hiện lưu trữ hóa đơn điện tử không?</b></span>
            </div>
        </div>
        <div id="collapse27" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Đơn vị phát hành HDDT (bên bán): Lưu trữ tập trung và cung cấp HDDT cho khách hàng bất cứ khi nào (bắt buộc) <br>
                    - Khách hàng (bên mua): Có thể lưu 1 bản (không bắt buộc)
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse28" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Bên mua phải thực hiện Kê khai thuế với hóa đơn điện tử như thế nào?</b></span>
            </div>
        </div>
        <div id="collapse28" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                   - Kê khai giống như hóa đơn giấy.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse29" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Bên mua phải thực hiện ký số vào hóa đơn điện tử không?</b></span>
            </div>
        </div>
        <div id="collapse29" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Theo quy định tại TT32 thì đơn vị là kế toán (hiểu là Doanh nghiệp) phải ký điện tử vào hóa đơn. <br>
                    - Theo CV5004 thì người mua sẽ Không phải thực hiện ký số vào hóa đơn điện tử trừ trường hợp người mua yêu cầu.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse30" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Bên mua phải thực hiện ký số vào hóa đơn điện tử thì sử dụng chữ ký số nào?</b></span>
            </div>
        </div>
        <div id="collapse30" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Khách hàng doanh nghiệp (bên mua): Sử dụng chính chữ ký số đang khai Thuế điện tử để thực hiện ký số vào Hóa đơn điện tử.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse31" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Nếu bên mua muốn nhận hóa đơn giấy thì phải làm thế nào?</b></span>
            </div>
        </div>
        <div id="collapse31" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Trong trường hợp Khách hàng của bên bán muốn nhận hóa đơn dưới dạng giấy thì bên bán có thể in hóa đơn chuyển đổi từ HĐĐT, ký tên, đóng dấu đỏ và gửi cho khách hàng (thỏa mãn điều kiện TT32/2011-BTC).
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse32" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Làm sao để bên mua xác định được HĐĐT của bên bán có giả mạo hay không?</b></span>
            </div>
        </div>
        <div id="collapse32" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Bên mua có thể dựa vào các yếu tố: <br>
                    - Tra cứu thông báo phát hành HĐĐT của bên bán thông qua cổng thông tin điện tử của CQT. <br>
                    - Chữ ký trên HĐĐT là chữ ký điện tử
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse33" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Để có thể tiếp nhận HĐĐT, các yêu cầu về máy tính thiết bị của chúng tôi là gì?</b></span>
            </div>
        </div>
        <div id="collapse33" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    Để tiếp nhận HĐĐT máy tính, điện thoại của bên mua cần: <br>
                    <ul>
                        <li>Kết nối Internet</li>
                        <li>Trình duyệt: Internet Explorer, Google chorme,</li>
                        <li>Thông tin tài khoản truy cập website</li>
                    </ul>
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse34" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Tôi là khách hàng doanh nghiệp, vậy khi tôi kê khai với chi cục thuế quận có gặp khó khăn vướng mắc gì không, cách thức kê khai như thế nào đối với hóa đơn giấy đang áp dụng bây giờ?</b></span>
            </div>
        </div>
        <div id="collapse34" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Do HĐĐT là một hình thức hóa đơn, có đầy đủ giá trị pháp lý theo quy định của pháp luật nên hóa đơn này là căn cứ để hạch toán kế toán và kê khai thuế. <br>
                    - Vì vậy, Quý khách hàng sẽ kê khai thuế bình thường như hóa đơn giấy hiện nay. Căn cứ thông tin trên HĐĐT, trên bản thể hiện HĐĐT về số seri hóa đơn, ngày cấp hóa đơn... đơn vị thực hiện kê khai và quyết toán thuế như đối với Hóa đơn giấy trước đây.
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse35" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Cách tra cứu HĐĐT trên website tra cứu do bên bán cung cấp?</b></span>
            </div>
        </div>
        <div id="collapse35" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Truy cập website <br>
                    - Nhập tên đăng nhập, mật khẩu <br>
                    - Sau khi đăng nhập, bên mua có thể tra cứu HĐĐT <br>
                    - Nếu bên mua là đơn vị kế toán thì cần ký số vào hóa đơn (hoặc không cần ký số) <br>
                    - Tải HĐĐT về máy tính để lưu trữ, kê khai thuế (nếu có).
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse36" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Cách thanh toán đối với HĐĐT có gì khác so với hóa đơn giấy?</b></span>
            </div>
        </div>
        <div id="collapse36" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Nguyên tắc chung: khi khách hàng thanh toán tiền sẽ nhận được hóa đơn<br>
                    - Khác: hóa đơn giấy nhận trực tiếp. HĐĐT nhận qua các phương tiện điện tử, Email, hoặc nhận trực tiếp bản thể hiện HĐĐT từ bên bán. <br>
                    - Có thể nhận HĐĐT trước hoặc ngay sau khi thanh toán (tùy vào sự thỏa thuận giữa hai bên).
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse37" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Bên bán sử dụng HĐĐT, vậy bên mua cũng phải sử dụng HĐĐT?</b></span>
            </div>
        </div>
        <div id="collapse37" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Không cần.<br>
                    - Tùy vào điều kiện của doanh nghiệp mà sử dụng các hình thức hóa đơn như: đặt in, tự in và Hóa đơn điện tử
            </div>
        </div>

        <br><br>
        <p class="color-red"><b>D: ĐỐI VỚI NGHĨA VỤ THỰC HIỆN BÁO CÁO CƠ QUAN THUẾ</b></p>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse38" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Đơn vị xuất hóa đơn kê khai và nộp báo cáo thuế đối với hóa đơn có khác gì so với hóa đơn giấy hay không?</b></span>
            </div>
        </div>
        <div id="collapse38" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    KHÔNG. Đơn vị kê khai và nộp báo cáo giống như thực hiện với hóa đơn giấy thông thường
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse39" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Đơn vị mua nhận hóa đơn điện tử của đơn vị bán kê khai hóa đơn điện tử như thế nào?</b></span>
            </div>
        </div>
        <div id="collapse39" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    Kê khai thông thường như đối với tất cả các loại hóa đơn khác
            </div>
        </div>

        <div class="panel-heading ">
            <div class="panel-title">
                <button type="button" data-toggle="collapse" data-target="#collapse40" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-plus-circle2"></i></button>
                <!-- <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn no-padding text-success-600 btn-flat btn-icon btn-xs btn-rounded legitRipple">
                        <i class="icon-minus-circle2"></i> 
                </button> -->
                <span><b>Đơn vị sử dụng 2 loại hóa đơn: Hóa đơn giấy và hóa đơn điện tử thì kê khai như thế nào?</b></span>
            </div>
        </div>
        <div id="collapse40" class="panel-collapse collapse">
            <div class="panel-body no-border panel-body-custom">
                <u><i><b>Trả lời:<b></i></u> <br> 
                    - Kê khai doanh thu và thuế như kê khai hóa đơn thông thường <br>
                    - Trong báo cáo tình hình sử dụng hóa đơn: Thế hiện tình hình sử dụng thành 2 dòng cho 2 loại hóa đơn.
            </div>
        </div>

    </div>
</div>