<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Cơ sở pháp lý của hóa đơn điện tử</b><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <img src="./images/thong-tu-32-2011-tt-btc-hoa-don-dien-tu-300x209-1.jpg" alt="my picture" height="250" width="320"
                    style="float: left; margin-right:10px">
            </div>
            <div class="col-sm-8">
                <ul class="ul-customer-label">
                    <li>
                        THÔNG TƯ 32/2011/TT-BTC HƯỚNG DẪN VỀ KHỞI TẠO, PHÁT HÀNH VÀ SỬ DỤNG HOÁ ĐƠN ĐIỆN TỬ BÁN HÀNG HÓA, CUNG ỨNG DỊCH VỤ DO BỘ
                        TÀI CHÍNH BAN HÀNH
                        <ul class="ul-customer-tick">
                            <li>
                                Hóa đơn điện tử được thông báo phát hành Có giá trị về mặt pháp lý như hóa đơn giấy được Bộ Tài Chính và Tổng cục thuế chấp
                                nhận và khuyến khích sử dụng.
                            </li>
                            <li>
                                Đáp ứng Đầy đủ luật giao dịch điện tử.
                            </li>
                            <li>
                                Nghị định số 51/2010/NĐCP-ngày 14/05/2010 của Chính Phủ quy định về hóa đơn bán hàng, cung ứng dịch vụ: Quy định 03 hình
                                thức phát hành hóa đơn:

                                <ol style="list-style: none">
                                    <li>1. Hóa đơn tự in (hóa đơn giấy)</li>
                                    <li>2. Hóa đơn đặt in (hóa đơn giấy)</li>
                                    <li>3. Hóa đơn điện tử</li>
                                </ol>
                            </li>
                            <li>
                                Thông tư số 39/2014/TT-BTC ngày 31/03/2014 của Bộ Tài chính Hướng dẫn thi hành Nghị định số 51/2010/NĐCP-ngày 14/05/2010
                                của Chí Phủ quy định về hóa đơn bán hàng, cung ứng dịch vụ.
                            </li>
                            <li>
                                Thông tư 32/2011/TT- BTC hướng dẫn về khởi tạo phát hành và sử dụng hóa đơn điện tử bán hàng hóa, cung ứng dịch vụ.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>