<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Thông tin liên hệ</b><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">
        <p class="content-group"><b>Mọi vấn đề về Hóa đơn điện tử cần tư vấn - hướng dẫn - giải đáp thắc mắc vui lòng liên hệ theo thông tin sau:</b></p>
        <p class="content-group"><b>© 2017 CÔNG TY CỔ PHẦN GIẢI PHÁP HÓA ĐƠN ĐIỆN TỬ VIỆT NAM </b>- <a href="http://vninvoice.vn">http://vninvoice.vn </a><br>
            <b>Tại Hà Nội:</b></p>
        <ul>
            <li><b>Địa chỉ:</b> <em>Tầng 3 - Tòa nhà Reeco, Số 98 Hoàng Ngân - Cầu Giấy - Hà Nội</em></li>
            <li><b>Điện thoại:</b> <em>0247 30 98 66</em> <b>Hotline:</b> <em>0942 39 88 55</em></li>
        </ul>
        <p class="content-group"><b>Tại Hồ Chí Minh:</b></p>
        <ul>
            <li><b>Địa chỉ:</b> <em>P203 HUD Building, Số 159 Điện Biên Phủ, P.15, Q. Bình Thạnh, TP. Hồ Chí Minh</em></li>
            <li><b>Điện thoại:</b> <em>028-3514 4946</em> <b>Hotline:</b> <em>0947 014 014</em></li>
        </ul>
        <p class="content-group">
            <b>Website:</b> <a href="http://vninvoice.vn">http://vninvoice.vn</a> &nbsp;
            <b>Email:</b> <a href="dungpa@vninvoice.vn">dungpa@vninvoice.vn</a> <b>
        </p>
    </div>
</div>