<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Danh sách khách hàng tiêu biểu</b></h6>
    </div>

    <div class="panel-body">
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><b>STT</b></th>
                        <th><b>Logo</b></th>
                        <th><b>Tên khách hàng</b></th>
                        <th><b>Địa chỉ</b></th>
                        <th><b>Ngành nghề</b></th>
                        <th><b>Số lượng</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/logo-PhuThai.jpg" class="img-thumbnail"></td>
                        <td>Công ty Cổ phần Tập đoàn Phú Thái</td>
                        <td>44 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội</td>
                        <td>Phân phối bán buôn, bán lẻ</td>
                        <td>2.000.0000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="./images/mediamart_logo.png" class="img-thumbnail"></td>
                        <td>Công ty Cổ phần MEDIAMART Việt Nam</td>
                        <td>29F Hai Bà Trưng, Quận Hoàn Kiếm, TP Hà Nội</td>
                        <td>Phân phối bán buôn, bán lẻ</td>
                        <td>2.000.000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="./images/KOTTEJI.jpg" class="img-thumbnail"></td>
                        <td>CÔNG TY TNHH KOTTEJI</td>
                        <td>67-TT4 khu đô thị Mỹ Đình Sông Đà - Phường Mỹ Đình 1 - Quận Nam Từ Liêm - Hà Nội</td>
                        <td>Dịch vụ Nhà hàng</td>
                        <td>500.000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="./images/GreenPharma-LOGO.png" class="img-thumbnail"></td>
                        <td>Công ty Cổ phần Dược phẩm Xanh Việt Nam</td>
                        <td>Lô A2 CN4 Cụm CN Từ Liêm, P.Phương Canh, Q.Nam Từ Liêm, TP.Hà Nội.</td>
                        <td>Sản xuất dược phẩm</td>
                        <td>300.000</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="./images/BioVet.png" class="img-thumbnail"></td>
                        <td>CÔNG TY CỔ PHẦN XUẤT NHẬP KHẨU BIOVET</td>
                        <td>KCN Phú Thị - Gia Lâm – Hà Nội</td>
                        <td>Sản xuất Thuốc Thú Y</td>
                        <td>100.000</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><img src="./images/SweetStreetCafe.jpg" class="img-thumbnail"></td>
                        <td>CHI NHÁNH CÔNG TY TNHH NHÀ HÀNG XIÊN NƯỚNG - SWEET STREET CÀ PHÊ</td>
                        <td>54 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, TP Hồ Chí Minh, Việt Nam</td>
                        <td>Dịch vụ Nhà Hàng</td>
                        <td>500.000</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><img src="./images/logo-GreenVet-1.png" class="img-thumbnail"></td>
                        <td>Công ty Cổ phần Thú Y Xanh</td>
                        <td>Lô A2 CN4 Cụm CN Từ Liêm, P.Phương Canh, Q.Nam Từ Liêm, TP.Hà Nội.</td>
                        <td>Sản xuất Thuốc Thú Y</td>
                        <td>200.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>