<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Doanh nghiệp cần đáp ứng điện kiện để sử dụng Hóa đơn điện tử là gì?</b></h6>
    </div>

    <div class="panel-body">
        <p class="content-group">
            Đây là Câu hỏi mà Hóa đơn điện tử là gì gặp phải rất nhiều trong thời gian gần đây. Chúng tôi sẽ cùng các bạn tìm điện kiện
            để sử dụng Hóa đơn điện tử như sau:
            <br> Điều này được Quy định rất rõ tại Điều 4 Thông tư số 32/2011/TT-BTC về Hướng dẫn về khởi tạo, phát hành
            và sử dụng hoá đơn điện tử bán hàng hóa, cung ứng dịch vụ:
        </p>
        <div class="bs-callout bs-callout-info">
            <h4><b style="color:#339966">Điều 4. Nguyên tắc sử dụng, điều kiện của tổ chức khởi tạo hoá đơn điện tử</b></h4>
            <p>
                <ol>
                    <li><em><b>Nguyên tắc sử dụng hoá đơn điện tử</b></em><br>
                        <p><em>Trường hợp người bán lựa chọn sử dụng hóa đơn điện tử khi bán hàng hóa, cung cấp dịch vụ, người bán có trách nhiệm thông báo cho người mua về định dạng hóa đơn điện tử, cách thức truyền nhận hóa đơn điện tử giữa người bán và người mua (nêu rõ cách thức truyền nhận hóa đơn điện tử là truyền trực tiếp từ hệ thống của người bán sang hệ thống của người mua; hoặc người bán thông qua hệ thống trung gian của tổ chức cung cấp giải pháp hóa đơn điện tử để lập hóa đơn và truyền cho người mua).</em></p>
                        <p><em>Người bán, người mua, tổ chức trung gian cung cấp giải pháp hóa đơn điện tử (trường hợp thông qua tổ chức trung gian) và các đơn vị có liên quan phải có thoả thuận về yêu cầu kỹ thuật và các điều kiện bảo đảm tính toàn vẹn, bảo mật có liên quan đến hoá đơn điện tử đó.
                        </em></p>
                    </li>
                    <li><em><b>Điều kiện của tổ chức khởi tạo hóa đơn</b></em><br>
                        <em>Người bán hàng hóa, dịch vụ (sau gọi chung là người bán) khởi tạo hóa đơn điện tử phải đáp ứng điều kiện sau:<br>
                            <ol type="a">
                                <li>Là tổ chức kinh tế có đủ điều kiện và đang thực hiện giao dịch điện tử trong khai thuế với cơ quan thuế; hoặc là tổ chức kinh tế có sử dụng giao dịch điện tử trong hoạt động ngân hàng.</li>
                                <li>Có địa điểm, các đường truyền tải thông tin, mạng thông tin, thiết bị truyền tin đáp ứng yêu cầu khai thác, kiểm soát, xử lý, sử dụng, bảo quản và lưu trữ hoá đơn điện tử;</li>
                                <li>Có đội ngũ người thực thi đủ trình độ, khả năng tương xứng với yêu cầu để thực hiện việc khởi tạo, lập, sử dụng hoá đơn điện tử theo quy định;</li>
                                <li>Có chữ ký điện tử theo quy định của pháp luật.</li>
                                <li>Có phần mềm bán hàng hoá, dịch vụ kết nối với phần mềm kế toán, đảm bảo dữ liệu của hoá đơn điện tử bán hàng hoá, cung ứng dịch vụ được tự động chuyển vào phần mềm (hoặc cơ sở dữ liệu) kế toán tại thời điểm lập hoá đơn.</li>
                                <li>Có các quy trình sao lưu dữ liệu, khôi phục dữ liệu, lưu trữ dữ liệu đáp ứng các yêu cầu tối thiểu về chất lượng lưu trữ bao gồm: <br>
                                    - Hệ thống lưu trữ dữ liệu phải đáp ứng hoặc được chứng minh là tương thích với các chuẩn mực về hệ thống lưu trữ dữ liệu;<br>
                                    - Có quy trình sao lưu và phục hồi dữ liệu khi hệ thống gặp sự cố: đảm bảo sao lưu dữ liệu của hóa đơn điện tử ra các vật mang tin hoặc sao lưu trực tuyến toàn bộ dữ liệu.
                                </li>      
                            </ol>
                        </em>
                    </li>
                </ol>
            </p>
        </div>
        <p class="content-group"><b>Như vậy, có thể tóm tắt là Doanh nghiệp cần đáp ứng đủ 05 Điện kiện để sử dụng Hóa đơn điện tử như sau:</b></p>
        <ol>
            <li>Đang thực hiện giao dịch điện tử với thuế, ngân hàng;</li>
            <li>Có đường truyền, thiết bị đáp ứng yêu cầu khai thác, kiểm soát, xử lý, sử dụng, bảo quản và lưu trữ HĐĐT;</li>
            <li>Có chữ ký điện tử còn thời hạn được cấp bởi tổ chức CKS công cộng;</li>
            <li>Có phần mềm bán hàng kết nối với phần mềm kế toán, đảm bảo dữ liệu của HĐĐT được tự động chuyển vào phần mềm
                (hoặc cơ sở dữ liệu) kế toán tại thời điểm lập hoá đơn;</li>
            <li>Có các quy trình sao lưu dữ liệu, khôi phục dữ liệu, lưu trữ dữ liệu đáp ứng các yêu cầu tối thiểu về chất lượng
                lưu trữ.</li>
        </ol>

        <p class="content-group">Cần tư vấn thêm về thủ tục và bộ tài liệu thông báo phát hành hóa đơn điện tử các bạn có thể Chat với Chúng tôi hoặc
            gọi HOTLINE 0942 39 88 55 để được tư vấn và hỗ trợ trực tiếp.</p>
    </div>
</div>