<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Hóa đơn điện tử là gì ?<a class="heading-elements-toggle"><i class="icon-more"></i></a></b></h6>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <img src="./images/E-facturatie-890x606-768x523-300x204.png" alt="my picture" height="250" width="280" style="float: left; margin-right:20px">
                <p class="content-group text-justify">
                    <img src="./images/if-label.png" style="margin-right:5px"/>
                    <b style="color:#339966">Hoá đơn điện tử:</b> là tập hợp các thông điệp dữ liệu điện tử về bán hàng hoá,
                    <b>cung
                    ứng dịch vụ, được khởi tạo, lập, gửi, nhận, lưu trữ và quản lý bằng phương tiện điện tử</b>. Hóa đơn
                    điện tử phải đáp ứng các nội dung quy định tại Điều 6 Thông tư 32 .</p>
                <p class="content-group text-justify">
                    <img src="./images/if-label.png" style="margin-right:5px"/>
                    <b class="color-red" style="color:#339966">Phương pháp tạo Hóa đơn điện tử:</b><br>
                     Được khởi tạo, lập, gửi, nhận, lưu trữ
                    và quản lý bằng phương tiện điện tử. <br> Có thể chuyển đổi thành hóa đơn giấy trong nhu cầu lưu thông
                    hàng hóa, quản lý hóa đơn của người mua. Theo thực tế: Nghị định số 51/2010/NĐCP-ngày 14/05/2010 của
                    Chính Phủ quy định về hóa đơn bán hàng, cung ứng dịch vụ. Hoá đơn điện tử là 1 trong 5 hình thức Hóa
                    đơn bán hàng, cung ứng dịch vụ và là 1 trong 2 hình thức về Hóa đơn điện tử. Thay vì hóa đơn tạo lập
                    trên giấy, HDDT được tạo lập trên thiết bị điện tử (theo đúng quy định của Bộ Tài Chính và Cơ Quan Thuế).
                    Hóa đơn giấy: là những loại hóa đơn mua của cơ quan thuế, Hóa đơn tự in và Hóa đơn đặt in.

                </p>
                <p class="content-group text-justify">
                    <img src="./images/if-label.png" style="margin-right:5px"/>
                    <b style="color:#339966">Theo thực tế:</b> Nghị định số 51/2010/NĐCP-ngày 14/05/2010 của Chính Phủ quy định về hóa đơn bán hàng, cung ứng dịch vụ. Hoá đơn điện tử là 1 trong 5 hình thức Hóa đơn bán hàng, cung ứng dịch vụ và là 1 trong 2 hình thức về Hóa đơn điện tử. Thay vì hóa đơn tạo lập trên giấy, HDDT được tạo lập trên thiết bị điện tử (theo đúng quy định của Bộ Tài Chính và Cơ Quan Thuế). Hóa đơn giấy: là những loại hóa đơn mua của cơ quan thuế, Hóa đơn tự in và  Hóa đơn đặt in.
                </p>
                
                <p class="content-group text-justify">
                    <img src="./images/if-label.png" style="margin-right:5px"/>
                    <b style="color:#339966">Định dạng của Hóa đơn điện tử:</b>
                    Hóa đơn điện tử có thể có nhiều định dạng khác nhau, tuy nhiên tại Việt Nam các nhà cung cấp cũng như Tổng cục thuế hiện nay đang sử dụng định dạng là XML.
                </p>

            </div>
        </div>
    </div>
</div>