<div class="panel panel-flat border-top-xlg border-top-green">
    <div class="panel-heading">
        <h6 class="panel-title text-semibold text-indigo"><b>Hóa đơn điện tử VN INVOICE</b><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-sm-4">
                <img src="./images/giai-phap-hoa-don-dien-tu-viet-nam.jpg" alt="my picture" height="250" width="280" style="float: left;">
            </div>
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">PHẦN MỀM VN-INVOICE – TÍNH NĂNG VƯỢT TRỘI VÀ MỀM DẺO</b></p>
                <ul class="ul-customer-tick">
                    <li>Tích hợp quy trình trình ký và duyệt hóa đơn trước khi ký điện tử để xuất hóa đơn.</li>
                    <li>Tích hợp giải pháp ký theo lô (ký nhiều hóa đơn một lúc) không phân biệt hình thức áp dụng Phân tán hay
                        tập trung.</li>
                    <li>Tích hợp quy trình lập hóa đơn và gửi SMS / email trực tiếp cho khách hàng nhanh chóng.</li>
                    <li>Tích hợp cho phép người mua tham gia đăng ký sử dụng Hóa đơn điện tử.</li>
                    <li>Tích hợp giải pháp bảo mật thông tin gốc, giúp tránh bị lộ thông tin khi dữ liệu về hóa đơn bị hack.</li>
                </ul>
                <p>Với tính năng này, Doanh nghiệp hoàn toàn yên tâm mọi HDDT được phát hành đều đến với Người mua một cách
                    nhanh chóng và thuận tiện.</p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">HÓA ĐƠN ĐIỆN TỬ – TIẾT KIỆM THỜI GIAN VÀ TIỀN BẠC</b></p>
                <ul class="ul-customer-tick">
                    <li>Tiết kiệm 75% Chi phí liên quan tới Hóa đơn hàng năm của Doanh nghiệp.</li>
                    <li> Không còn nỗi lo mất mát, hỏng, bị mờ hoặc bay mất thông tin và bảo quản hóa đơn cho Doanh nghiệp.</li>
                    <li>Chuyển hóa đơn cho khách hàng chưa bao giờ đơn giản đến thế. Điều này giúp Doanh nghiệp đẩy nhanh quá
                        trình thanh toán và thu hồi công nợ.</li>
                    <li>Dễ dàng tra cứu và tìm kiếm hóa đơn mà không phải vào kho lưu trữ để tìm kiếm hóa đơn gốc.</li>
                    <li>Các báo cáo theo dõi được tức thì tăng khả năng kiểm soát hóa đơn và Doanh thu cung cấp hàng hóa dịch
                        vụ.
                    </li>
                    <li>Công tác hướng dẫn, chuyển giao nghiệp vụ quản lý, sử dụng hóa đơn điện tử đơn giản, nhanh chóng.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="./images/AnhHDDT-Copy.png" alt="my picture" height="300" width="280" style="float: right;">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <img src="./images/gioi-thieu.jpg" alt="my picture" height="250" width="280" style="float: left;">
            </div>
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">PHẦN MỀM HÓA ĐƠN ĐIỆN TỬ PHÙ HỢP VỚI MỌI LOẠI HÌNH KINH DOANH</b></p>
                <ul class="ul-customer-tick">
                    <li>Số lượng sử dụng hóa đơn nhiều. Sử dụng càng nhiều lợi ích càng lớn</li>
                    <li>Thường xuyên phải gửi hóa đơn cho khách hàng bằng Chuyển phát nhanh hoặc Hóa đơn không được bộ phận chuyên
                        trách sử dụng và bảo quản.</li>
                    <li>Doanh nghiệp có nhiều chi nhánh, nhiều cửa hàng hay nhiều điểm xuất hóa đơn phân tán.</li>
                    <li>Doanh nghiệp hiện đang sử dụng phương pháp lập hóa đơn bằng tay.</li>
                    <li>Dễ dàng quản lý hóa đơn, tránh được sai sót về báo cáo</li>
                </ul>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">TẠI SAO KHÁCH HÀNG CHỌN HÓA ĐƠN ĐIỆN TỦ VNIs</b></p>
                <ul class="ul-customer-tick">
                    <li>Tiên phong trong lĩnh vực hóa đơn điện tử.</li>
                    <li>Phần mềm VN-Invoice đạt chuẩn theo quy định của Thông tư 32/2011/TT-BTC và các quy định khác về Hóa đơn</li>
                    <li>VNIs là đơn vị duy nhất Tư vần – Hỗ trợ trực tiếp thủ tục phát hành hóa đơn điện tử cho khách hàng.</li>
                    <li>14 năm kinh nghiệm sản xuất phần mềm cho doanh nghiệp – 5 năm Hỗ trợ kê khai thuế</li>
                    <li>Kinh nghiệm cung cấp phần mềm hóa đơn cho nhiều Doanh nghiệp, nhiều loại hình và có số lượng xuất hóa
                        đơn lớn lên đến 10.000 hóa đơn 1 ngày.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="./images/versatility.png" alt="my picture" height="250" width="280" style="float: right;">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <img src="./images/1447947676.jpg" alt="my picture" height="250" width="280" style="float: left;">
            </div>
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">TẠI SAO KHÁCH HÀNG CHỌN HÓA ĐƠN ĐIỆN TỦ VNIs</b></p>
                <ul class="ul-customer-tick">
                    <li> Định nghĩa về Hoá đơn điện tử được nêu trong thông tư 32/2011/TT-BTC như sau: Hóa đơn điện tử là tập
                        hợp các thông điệp, dữ liệu điện tử về bán hàng hoá, cung ứng dịch vụ, được khởi tạo, lập, gửi, nhận,
                        lưu trữ và quản lý bằng phương tiện điện tử.</li>
                    <li>Hóa đơn điện tử được sử dụng để thay cho Hóa đơn Giá trị gia tăng, Hóa đơn bán hàng, Hóa đơn xuất khẩu,
                        các loại Hóa đơn khác; Ngoài ra có thể áp dụng cho Phiếu xuất kho kiêm vận chuyển nội bộ</li>
                    <li>Hiện tại, VNIs cung cấp giải pháp hóa đơn điện tử thông thường và hóa đơn điện tử có mã xác thực của
                        cơ quan thuế.</li>
                </ul>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">CĂN CỨ PHÁP LÝ</b></p>
                <ul class="ul-customer-tick">
                    <li>Luật Giao dịch điện tử (số 51/2005/QH11 ngày 29/11/2005).</li>
                    <li>Nghị định 51/2010/NĐ-CP về Hóa đơn bán hàng và cung ứng dịch vụ...</li>
                    <li>Thông tư 32/2011/TT-BTC về Khởi tạo, phát hành và sử dụng Hóa đơn điện tử.</li>
                    <li>Thông tư 39/2014/TT-BTC về Hướng dẫn Hóa đơn bán hàng hóa và cung cấp dịch vụ.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="./images/hoa-don-dien-tu-vninvoice.jpg" alt="my picture" height="250" width="280" style="float: right;">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <img src="./images/hhd.png" alt="my picture" height="250" width="280" style="float: left;">
            </div>
            <div class="col-sm-8 text-justify">
                <p><b style="font-size: 14px; font-family: Arial; color:#339966">ĐIỀU KIỆN SỬ DỤNG HÓA ĐƠN ĐIỆN TỬ</b></p>
                <p>
                    Mục 2 điều 4, thông tư 32 quy định về điều kiện của tổ chức khởi tạo hóa đơn điện tử :
                </p>
                <ul class="ul-customer-tick">
                    <li>Bao gồm những tổ chức có đủ điều kiện và đang thực hiện giao dịch điện tử trong khai thuế với cơ quan
                        thuế hoặc trong hoạt động ngân hàng;</li>
                    <li>Có chữ ký điện tử theo đúng quy định của pháp luật;</li>
                    <li>Có địa điểm, các đường truyền tải thông tin, mạng thông tin, thiết bị truyền tin đáp ứng yêu cầu khai
                        thác, kiểm soát, xử lý, sử dụng, bảo quản và lưu trữ hóa đơn điện tử;</li>
                    <li>Có đội ngũ người thực thi đủ trình độ để thực hiện việc khởi tạo, lập, sử dụng hóa đơn điện tử theo quy
                        định.
                    </li>
                </ul>
            </div>
        </div>
        <br>

    </div>
</div>